<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="discardChanges()">&times;</button>
            <h4 class="modal-title" ng-show="isContactNew">Add New Contact</h4>
            <h4 class="modal-title" ng-show="!isContactNew">Contact Details</h4>
        </div>
        <div class="modal-body">
            <form name="contactInputForm">
                <div class="form-group">
                    <div style="float: right">
                        <strong><label for="bookmark"><input type="checkbox" class="forms-control" ng-model="temporaryContact.isBookmarked" id="bookmark">  Bookmark</label></strong>
                    </div>
                    <br>
                    <label for="firstName">First name: </label>
                    <input name="firstNameInput" type="text" class="form-control" id="firstName" ng-model="temporaryContact.firstName" required>
                    <ng-messages for="contactInputForm.firstNameInput.$error" role="alert">
                        <ng-message when="required">First name is required!</ng-message>
                    </ng-messages>
                    <br>
                    <label for="lastName">Last name: </label>
                    <input name="lastNameInput" type="text" class="form-control" id="lastName" ng-model="temporaryContact.lastName">
                    <br>
                    <label for="nickname">Nickname: </label>
                    <input type="text" class="form-control" id="nickname" ng-model="temporaryContact.nickname">
                    <br>
                    <label for="address">Address: </label>
                    <input type="text" class="form-control" id="address" ng-model="temporaryContact.address">
                    <br>
                    <label for="numbers">Numbers:</label>
                    <ul style="list-style-type: none" id="numbers">
                        <li ng-repeat="number in temporaryContact.phoneNumbers track by $index">
                            <div class="row">
                                <div class="col-md-7">
                                    <input name="numberInput" class="form-control" ng-model="temporaryContact.phoneNumbers[$index].number" phone-number>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-sm btn-danger" ng-click="deleteNumber($index)">
                                        Delete number 
                                    </button>
                                </div>
                            </div>

                        </li>
                        <br>
                        <button type="button" class="btn btn-sm btn-info" ng-click="addNewNumber()">
                            Add new number
                        </button>
                    </ul>
                    <ng-messages for="contactInputForm.numberInput.$error" role="alert">
                        <ng-message when="phone-number">Please enter correct phone number!</ng-message>
                    </ng-messages>
                    <br>
                    <label for="emails">E-mails:</label>
                    <ul style="list-style-type: none" id="emails">
                        <li ng-repeat="email in temporaryContact.emails track by $index">
                            <div class="row">
                                <div class="col-md-7">
                                    <input name="emailInput" type="email" class="form-control" ng-model="temporaryContact.emails[$index].address">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-sm btn-danger" ng-click="deleteEmail($index)">
                                        Delete e-mail 
                                    </button>
                                </div>
                            </div>

                        </li>
                        <br>
                        <button type="button" class="btn btn-sm btn-info" ng-click="addNewEmail()">
                            Add new e-mail
                        </button>
                    </ul>
                    <ng-messages for="contactInputForm.emailInput.$error" role="alert">
                        <ng-message when="email">Please enter correct e-mail!</ng-message>
                    </ng-messages>
                    <br>
                    <label for="tags">Tags: </label>
                    <ul style="list-style-type: none">
                        <li ng-repeat="tag in tags track by $index">
                            <div class="row">
                                <div class="col-md-12">
                                    {{tag.name}}
                                    <input type="checkbox" ng-click="updateSelection(tag, $event, false)" ng-checked="isSelected(tag, false)" ng-disabled="isClientBusy">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="modal-footer" ng-show="isContactNew">
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-disabled="!contactInputForm.$valid" ng-click="addNewContact()">
                Add
            </button>
            <button type="button" class="btn btn-danger" ng-click="discardChanges()">
                Cancel
            </button>
        </div>
        <div class="modal-footer" ng-show="!isContactNew">
            <button type="button" class="btn btn-success" ng-disabled="!contactInputForm.$valid" ng-click="saveChanges()">
                Save changes
            </button>
            <button type="button" class="btn btn-warning" ng-click="discardChanges()">
                Cancel
            </button>
            <button type="button" class="btn btn-danger" ng-click="deleteContact()">
                Delete Contact
            </button>
        </div>
    </div>
</div>