<!DOCTYPE html>
<html ng-app="hrCloudAssignment">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
</head>

<title>Contact List</title>

<body>
    <div class="container" ng-controller="contactsController" ng-cloak>
        <div class="row">
            <h1 style="text-align: center">Contact List</h1>
        </div>
        <hr>
        <div class="alert alert-sm text-center" ng-class="alert.class" ng-show="alert.isVisible" style="align-content: center">
            <a href="#" class="close" ng-click="hideAlert()" aria-label="close">&times;</a>
            <strong>{{alert.message}}</strong>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h3 style="text-align: center">All Contatcs</h3>
            </div>
            <div class="row">
                <div class="col-md6">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" ng-click="addNewContactButton()" ng-disabled="isClientBusy">
                            Add new contact
                    </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#searchModal" ng-disabled="isClientBusy">
                        Search
                    </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" ng-click="getAllTags()" ng-disabled="isClientBusy">
                            Tags
                    </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Details</td>
                            <td class="text-center">
                                Select all
                                <br>
                                <input type="checkbox" ng-click="selectAll($event)" ng-checked="isAllSelected()" ng-disabled="isClientBusy">
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in allContacts | orderBy:['lastName + firstName']" ng-switch="contact.lastName.length">
                            <td ng-switch-when="0">{{contact.firstName}}</td>
                            <td ng-switch-default>{{contact.lastName + ", " + contact.firstName}}</td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="contactDetails(contact.id)" ng-disabled="isClientBusy">
                                    Details
                                </button>
                            </td>
                            <td class="text-center">
                                <input type="checkbox" ng-click="updateSelection(contact, $event, true)" ng-checked="isSelected(contact, true)" ng-disabled="isClientBusy">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form group" style="float: right" ng-show="allContacts.length > 0">
                    <button type="button" class="btn btn-sm btn-info" ng-click="bookmarkSelected()" ng-disabled="isClientBusy">Bookmark selected</button>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="deleteSelected()" ng-disabled="isClientBusy">Delete selected</button>
                    <br>
                    <label style="float: right">{{selected.length + "/" + allContacts.length + " selected"}}</label>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <h3 style="text-align: center">Bookmarks</h3>
            </div>
            <div class="row">
                <table class="table table-hover">
                    <tbody>
                        <tr ng-repeat="contact in allContacts | orderBy:['lastName + firstName']" ng-if="contact.isBookmarked" ng-switch="contact.lastName.length">
                            <td ng-switch-when="0">{{contact.firstName}}</td>
                            <td ng-switch-default>{{contact.lastName + ", " + contact.firstName}}</td>
                            <td>
                                <button type="button" class="btn btn-default" ng-click="contactDetails(contact.id)" ng-disabled="isClientBusy">
                                    Details
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--New contact/Contact details modal -->

        <div class="modal fade" id="contactModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <ng-include src="'contactModal.html'"></ng-include>
        </div>
        <!--Search modal-->
        <div class="modal fade" id="searchModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <ng-include src="'searchModal.html'"></ng-include>
        </div>
        <!--Tags modal-->
        <div class="modal fade" id="tagsModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <ng-include src="'tagsModal.html'"></ng-include>
        </div>
    </div>
    <script src="js/hrCloudAssignment.js"></script>
    <script src="js/modalScrollFix.js"></script>
</body>
</html>