<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Search contacts</h4>
        </div>
        <div class="modal-body">
            <div class="form-inline">
                <input type="text" class="form-control" ng-model="$parent.search.query" placeholder="Enter name, nickname or tag">
                <button type="button" class="btn btn-default" ng-click="searchContacts()">Search</button>
            </div>
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="contact in search.result | orderBy:['lastName + firstName']" ng-switch="contact.lastName.length">
                        <td ng-switch-when="0">{{contact.firstName}}</td>
                        <td ng-switch-default>{{contact.lastName + ", " + contact.firstName}}</td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="contactDetails(contact.id)">
                                    Details
                                </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{search.status}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
                Exit
            </button>
        </div>
    </div>
</div>