<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="closeTagsModal()">&times;</button>
            <h4 class="modal-title">Tags</h4>
        </div>
        <div class="modal-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Update</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tag in tags | orderBy:tag.name">
                        <td>
                            <input type="text" class="form-control" ng-model="tag.name">
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" ng-click="updateTag(tag)">
                                    Update
                                </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="deleteTag(tag.id)">
                                    Delete
                                </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form name="newTagForm">
                                <input type="text" class="form-control" ng-model="$parent.newTag" required>
                            </form>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info" ng-click="createTag()" ng-disabled="!newTagForm.$valid">
                                    Create new tag
                                </button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            {{search.status}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="closeTagsModal()">
                Exit
            </button>
        </div>
    </div>
</div>